affine==2.4.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
albucore==0.0.21
albumentations==1.4.23
annotated-types==0.7.0
appdirs==1.4.4
asttokens==2.4.1
attrs==24.2.0
beautifulsoup4==4.12.3
bqplot==0.12.43
branca==0.8.0
bs4==0.0.2
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudsen12_models==0.4.4
colorama==0.4.6
colour==0.1.5
comm==0.2.2
contourpy==1.3.0
cssselect==1.2.0
cycler==0.12.1
decorator==5.1.1
docker-pycreds==0.4.0
earthengine-api==1.3.1
eerepr==0.0.4
efficientnet_pytorch==0.7.1
eval_type_backport==0.2.0
executing==2.1.0
fake-useragent==1.5.1
filelock==3.13.1
folium==0.18.0
fonttools==4.54.1
frozenlist==1.5.0
fsspec==2024.10.0
future==1.0.0
gcsfs==2024.10.0
gdown==5.2.0
geemap==0.35.1
geocoder==1.38.1
geopandas==1.0.1
georeader-spaceml==1.3
gitdb==4.0.11
GitPython==3.1.43
googleapis-common-protos==1.65.0
google-api-core==2.22.0
google-api-python-client==2.151.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-core==2.4.1
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-resumable-media==2.7.2
httplib2==0.22.0
huggingface-hub==0.26.2
idna==3.10
imageio==2.36.0
importlib_metadata==8.5.0
imutils==0.5.4
inquirerpy==0.3.4
ipyevents==2.0.2
ipyfilechooser==0.6.0
ipyleaflet==0.19.2
ipython==8.29.0
ipytree==0.2.2
ipywidgets==8.1.5
jedi==0.19.1
Jinja2==3.1.3
joblib==1.4.2
jupyterlab_widgets==3.0.13
jupyter-leaflet==0.19.2
kiwisolver==1.4.7
lazy_loader==0.4
lightning-utilities==0.11.8
lxml==5.3.0
lxml_html_clean==0.4.1
mapclassify==2.8.1
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
matplotlib-scalebar==0.8.1
mercantile==1.2.1
ml4floods==1.0.1
mpmath==1.3.0
multidict==6.1.0
munch==4.0.0
networkx==3.2.1
numpy==1.26.3
oauthlib==3.2.2
opencv-contrib-python==4.10.0.84
opencv-python-headless==4.10.0.84
packaging==24.1
pandas==2.2.3
parse==1.20.2
parso==0.8.4
pfzy==0.3.4
pillow==10.2.0
pip==24.3.1
platformdirs==4.3.6
plotly==5.24.1
pretrainedmodels==0.7.4
prompt_toolkit==3.0.48
propcache==0.2.0
protobuf==5.28.3
proto-plus==1.25.0
psutil==6.1.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.9.2
pydantic_core==2.23.4
pyee==11.1.1
Pygments==2.18.0
pyogrio==0.10.0
pyparsing==3.1.4
pyperclip==1.9.0
pyppeteer==2.0.0
pyproj==3.7.0
pyquery==2.0.1
pyshp==2.3.1
PySocks==1.7.1
python-box==7.2.0
python-dateutil==2.9.0.post0
pytorch-lightning==2.4.0
pytz==2024.2
PyYAML==6.0.2
rasterio==1.4.2
ratelim==0.1.6
requests==2.32.3
requests-html==0.10.0
requests-oauthlib==2.0.0
rsa==4.9
safetensors==0.4.5
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.14.1
scooby==0.10.0
seaborn==0.13.2
segmentation-models-pytorch==0.3.4
sentry-sdk==2.19.0
setproctitle==1.3.4
setuptools==65.5.0
shapely==2.0.6
simsimd==6.0.2
six==1.16.0
smmap==5.0.1
soupsieve==2.6
stack-data==0.6.3
stringzilla==3.10.8
sympy==1.12
tenacity==9.0.0
threadpoolctl==3.5.0
tifffile==2024.9.20
timm==0.9.7
torch==2.4.1+cu124
torchaudio==2.4.1+cu124
torchmetrics==1.5.2
torchvision==0.19.1+cu124
tqdm==4.66.5
traitlets==5.14.3
traittypes==0.2.1
typing_extensions==4.9.0
tzdata==2024.2
uritemplate==4.1.1
urllib3==1.26.20
w3lib==2.2.1
wandb==0.18.7
wcwidth==0.2.13
websockets==10.4
widgetsnbextension==4.0.13
xyzservices==2024.9.0
yarl==1.17.1
zipp==3.20.2
